**/target
/cache*
/server

# SBT
dist
project/target
project/plugins/target
target
target/*
.target
.sbtopts
.caches
local.sbt
.bsp


# IDEA
.idea/
*.iml
.idea_modules

#GIT
.gitreview

# Scala
.tmpBin
.history

